.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.278);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.page-item:first-child{
    border-radius: 5px 0 0 5px;
}

.page-item:last-child {
    border-radius: 0 5px 0 5px;
}

.page-link{
    text-decoration: none;
    color: rgb(80,80,80);
    transition: all 0.3s;
}

.page-item:hover {
    background: rgb(230, 230, 230);
}

.pageItemActive{
    background-color: tomato;
}

.pageLinkActive{
    color:white;
}