.navbar{
    display: flex;
    width: 90%;
    padding: 1rem 0 1rem 0;
    background:tomato;
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
}

.navbar>ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar>ul>li:hover{
    color: red;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: white;
}
